$s: 0.3s;

$palettes: (
  grey: (
    light: #bfbfbf,
    base: #7f7f7f,
    dark: #404040,
  )
);

$fonts: (
  sans-serif: #{ helvetica, arial, sans-serif },
  serif: #{ Georgia, Times, serif }
);
