@font-face {
  /* stylelint-disable */
  font-family: 'SL-SidLeeExtraBold';
  font-style: normal;
  font-weight: normal;

  src: url('/assets/fonts/sidlee-extrabold/sidlee-extrabold-webfont.eot');
  src: url('/assets/fonts/sidlee-extrabold/sidlee-extrabold-webfont.eot#iefix') format('embedded-opentype'),
  url('/assets/fonts/sidlee-extrabold/sidlee-extrabold-webfont.woff') format('woff'),
  url('/assets/fonts/sidlee-extrabold/sidlee-extrabold-webfont.ttf') format('truetype'),
  url('/assets/fonts/sidlee-extrabold/sidlee-extrabold-webfont.svg#sid_lee_bold') format('svg');
  /* stylelint-enable */
}
