.main-footer {
  background-color: #fff;
  border-top: solid 1px palette(grey, light);

  a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    white-space: nowrap;

    &::before {
      background-color: currentColor;
      bottom: 0;
      content: '';
      height: 1px;
      left: 0;
      position: absolute;
      transform: translateY(0);
      transition: transform $s;
      width: 100%;
    }

    em {
      font-style: normal;
      opacity: 0.8;
    }

    &:hover,
    &:focus {
      &::before {
        transform: translateY(-2px);
      }
    }
  }
}
