.main-header {
  background-color: #fff;
  border-bottom: solid 1px palette(grey, light);
}

.main-title {
  color: palette(pink);
  font-family: font(heading);
  font-size: 3rem;
  font-weight: 800;
  line-height: 0.9;
  margin: 0 0 $gutter;
  text-align: center;
  text-transform: uppercase;
  width: 100%;

  em {
    font-style: normal;
    opacity: 0.8;
  }
}
